<!DOCTYPE html>
<html>
<head>
    <style>
        div {color: grey;}
        span, h3, h4, ol {color: black;}
        li {margin-top: 10px;}
    </style>
</head>
<body>
<h2>HopTrip Booking Request - {{ date|date("F d, Y h:i e") }}</h2>
<div>
    <div>Notes: <span>{{ booking.notes }}</span></div>
    <div>Total price: <span>${{ booking.totalPrice|number_format(2, '.', ',') }}</span></div>

    {% block pax %}
    {% endblock %}

    {% block billing %}
    {% endblock %}

    {% block docs %}
    {% endblock %}

    {% block credit_card %}
    {% endblock %}

    <h3>Hotels</h3>
    <ol>
    {% for hotel in booking.bookingSelection.hotelBookingResults %}
        <li>
        {% for key, val in hotel %}
            {% if key == 'url' %}
                <div>{{ key }}: <a href="{{ val }}">{{ val }}</a></div>
            {% else %}
                <div>{{ key }}: <span>{{ val }}</span></div>
            {% endif %}
        {% endfor %}
        </li>
    {% endfor %}
    </ol>

    {% include 'email/booking/car.twig' with {'car': booking.bookingSelection.carRentalOption} %}

    <h3>Flight</h3>
    <div>From: <span>{{ booking.bookingSelection.flightBookingOption.fromAirport }}</span></div>
    <div>To: <span>{{ booking.bookingSelection.flightBookingOption.toAirport }}</span></div>
    <div>Provider name: <span>{{ booking.bookingSelection.flightBookingOption.providerName }}</span></div>
    <div>Provider code: <span>{{ booking.bookingSelection.flightBookingOption.providerCode }}</span></div>
    <div>Price: <span>${{ booking.bookingSelection.flightBookingOption.price|number_format(2, '.', ',') }}</span></div>
    <div>Deeplink: <a href="{{ booking.bookingSelection.flightBookingOption.deeplink }}">{{ booking.bookingSelection.flightBookingOption.deeplink }}</a></div>
    <h4>Outbound</h4>
    <ol>
        {% for segment in booking.bookingSelection.flightBookingOption.outboundSegments %}
            <li>
                {% for key, val in segment %}
                    <div>{{ key }}: <span>{{ val }}</span></div>
                {% endfor %}
            </li>
        {% endfor %}
    </ol>
    <h4>Inbound</h4>
    <ol>
        {% for segment in booking.bookingSelection.flightBookingOption.inboundSegments %}
            <li>
                {% for key, val in segment %}
                    <div>{{ key }}: <span>{{ val }}</span></div>
                {% endfor %}
            </li>
        {% endfor %}
    </ol>

</div>
</body>
</html>
